<div class="center jumbotron" background-image: url(<%= asset_path 'frontofhouse.jpg' %>)>

  <h1>Welcome to One Agent App</h1>


   <h2>  </h2>
<table style="width: 100%">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thread>

	<tbody>

		<tr>
			<td></td>
		</tr>
	
	</tbody>
</table>
